<footer class="site-footer">
  <div class="container footer__grid">
    <div>
      <h4 class="footer__title">Contact</h4>
      <p>
        Email: <a data-config-href="mailto:contactEmail" href="#" data-config="contactEmail">juncheng@seas.harvard.edu</a>
      </p>
    </div>
    <div>
      <h4 class="footer__title">Links</h4>
      <ul class="footer__links">
        <li><a href="index.html">Home</a></li>
        <li><a href="schedule.html">Program</a></li>
        <li><a href="call-for-talks.html">Call for Talks</a></li>
        <li><a href="registration.html">Registration</a></li>
      </ul>
    </div>
    <div>
      <h4 class="footer__title">About</h4>
      <p>
        <span data-config="eventName">New England Systems Day</span> is a community-led event for systems
        researchers across New England.
      </p>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <small>
        © <span id="year"></span> <span data-config="eventName">New England Systems Day</span> · Last updated: <span id="last-updated"></span>
      </small>
    </div>
  </div>
</footer>


